
<div class="modal-backdrop fade in" ng-show="showModal" modal-animation-class="fade" modal-in-class="in" modal-backdrop="modal-backdrop" modal-animation="true" style="z-index: 1040;"></div>
<div class="modal-dialog" style="position: absolute; top: 0; z-index: 9999; width: 100%;" ng-show="showModal">
	<div class="modal-content" style="max-width: 600px; margin: 0 auto;">
		<div class="modal-header">
			<button class="close" ng-click="showModal=!showModal"><i class="fa fa-times"></i></button>
			<h3 class="modal-title"><span class="font-weight-bold">My Display</span> Activation Instructions</h3>
		</div>
		<div class="modal-body">
			<p>Start showing Presentations on your Display by completing the following steps:</p>
			<div class="mt-4">
				<h4 class="mt-0">1. Download and install Rise Player on your Media Player</h4>


				<div class="display-instructions">
		

					<div class="rise-player-list mb-4 bg-success" style="padding-left: 200px; background-image: url('https://s3.amazonaws.com/Rise-Images/UI/display-diagram.png'); background-position: left center; background-size: 200px; ">
						<div class="rise-player-list-item">
							<div class="rise-player-list-item__icon">
								<img src="https://s3.amazonaws.com/Rise-Images/UI/logo-windows.png" class="img-fluid">
							</div>
							<div class="rise-player-list-item__label"><a href="#">Rise Player for Windows 7 and Up [32-bit]</a></div>
						</div>
						<div class="rise-player-list-item">
							<div class="rise-player-list-item__icon">
								<img src="https://s3.amazonaws.com/Rise-Images/UI/logo-windows.png" class="img-fluid">
							</div>
							<div class="rise-player-list-item__label"><a href="#">Rise Player for Windows 7 and Up [64-bit]</a></div>
						</div>
						<div class="rise-player-list-item">
							<div class="rise-player-list-item__icon">
								<img src="https://s3.amazonaws.com/Rise-Images/UI/logo-chrome.png" class="img-fluid">
							</div>
							<div class="rise-player-list-item__label"><a href="#">Rise Player for Chrome OS</a></div>
						</div>
						<div class="rise-player-list-item">
							<div class="rise-player-list-item__icon">
								<img src="https://s3.amazonaws.com/Rise-Images/UI/logo-ubuntu.png" class="img-fluid">
							</div>
							<div class="rise-player-list-item__label"><a href="#">Rise Player for Ubuntu [32-bit]</a></div>
						</div>
						<div class="rise-player-list-item">
							<div class="rise-player-list-item__icon">
								<img src="https://s3.amazonaws.com/Rise-Images/UI/logo-ubuntu.png" class="img-fluid">
							</div>
							<div class="rise-player-list-item__label"><a href="#">Rise Player for Ubuntu [64-bit]</a></div>
						</div>
						<div class="rise-player-list-item">
							<div class="rise-player-list-item__icon">
								<img src="https://s3.amazonaws.com/Rise-Images/UI/logo-raspberry.png" class="img-fluid">
							</div>
							<div class="rise-player-list-item__label"><a href="#">Rise Player for Raspbian 8.0 [ARM v7]</a></div>
						</div>
					</div><!--rise-player-list-->

				</div>

				

				

				<a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> How can I tell if I need the 32-bit or 64-bit version?</a>
			</div>
			<div class="mt-5">
				<span>After installing Rise Player on your Media Player</span>
				<h4 class="mt-3">2. Enter the following Display ID on your Media Player when prompted</h4>

				<div class="display-id text-center panel panel-default p-3">
					<span>E865KY93GZ8V</span>
				</div>
				<div class="alert alert-info">
					If you prefer to deploy a large number of Displays you can use a <a aria-label="Claim ID Help Article" target="_blank" href="https://help.risevision.com/hc/en-us/articles/360000463883-Activate-a-Display-using-a-Claim-ID">Claim ID</a>
				</div>
			</div>
			<p>For a comprehensive installation overview, read the available documentation on <a aria-label="Display Setup Help Article" target="_blank" href="https://help.risevision.com/hc/en-us/sections/115000832983-Set-up-your-Displays">Setting up Displays</a> on our help center.</p>

		</div><!--modal-body-->
	</div><!--modal-content-->
</div><!--modal-dialog-->


<div class="alert alert-warning mt-5">
 This display is pending activation. You won't be able to show your presentations on this display until the activation is complete.
</div>

<div class="app-header my-4">
  <h1 class="app-header-title" translate>displays-app.details.title</h1>
  
</div><!--app-header-->


<form role="form" name="displayDetails">
	<div class="form-group u_margin-sm-bottom">
	  <label class="control-label">{{'displays-app.fields.name.name' | translate}} *</label>
	  <input type="text" class="form-control" placeholder="Display Name" id="name" name="name" required>
	</div>
</form>


<div class="row half-top">
	<div class="col-sm-6 col-xs-12">
	  <!-- DISPLAY DETAILS -->
	  <div class="u_lh-normal u_margin-sm-bottom">
	    <label class="control-label" translate>displays-app.displayDetails</label>
	  </div>
	  <div class="panel panel-default">
	    <table class="table">
	      <tbody class="table-body">
	      	<tr class="table-body__row bg-warning">
	      	  <td class="table-body__cell" translate>
	      	  	<span class="font-weight-bold">Status</span></td>
	      	  <td class="table-body__cell">
	      	  	<span> <a href="#" ng-click="showModal=!showModal">Pending Activation </a></span>
	      	  </td>
	      	</tr>
	        <tr class="table-body__row">
	          <td class="table-body__cell" translate>
	          	<span class="font-weight-bold">displays-app.fields.player.id</span></td>
	          <td class="table-body__cell">
	          	<span> 3252364373374356 </span>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	  </div><!--panel-->
	</div><!--col-->
</div>


<div class="button-row text-right">
  
  <button id="deleteButton" type="button" class="btn btn-danger pull-left" >
    {{'common.delete' | translate}}
    <i class="fa fa-white fa-trash-o icon-right"></i>
  </button>

  <button id="saveButton" type="submit" class="btn btn-primary">
    {{ factory.savingDisplay ? ('common.saving' | translate) : ('common.save' | translate)}}
    <i class="fa fa-check icon-right"></i>
  </button>
  <!-- Indicates cancel or non-destructive action -->
  <button id="cancelButton" class="btn btn-default">
    {{'common.cancel' | translate}}
    <i class="fa fa-times icon-right"></i>
  </button>
</div>