<div ng-if="!placeholderFactory.placeholder.singleItem" class="btn-group btn-group-justified" >
  <a href="#" id="addImageButton" class="btn btn-default" ng-click="factory.addNewPlaceholder(null,'image')">
    <svg-icon p="riseWidgetImageMulti"></svg-icon>
    <span translate="editor-app.playlistItem.add-image"></span>
  </a>
  <a href="#" id="addVideoButton" class="btn btn-default" ng-click="playlistItemFactory.selectFiles('videos')">
    <svg-icon p="riseWidgetVideo"></svg-icon>
    <span translate="editor-app.playlistItem.add-video"></span></a></a>
  <a href="#" id="addTextButton" class="btn btn-default" ng-click="playlistItemFactory.addTextWidget()">
    <svg-icon p="riseWidgetText"></svg-icon>
    <span translate="editor-app.playlistItem.add-text"></span>
  </a>
  
</div>

<div ng-if="!placeholderFactory.placeholder.singleItem" class="btn-group btn-group-justified" style="margin-bottom: 10px">

<a href="#" id="addPlaceholderButton" class="btn btn-default" ng-click="factory.addNewPlaceholder()">
    <i class="fa fa-list fa-2x"></i>
    <span>Playlist</span>
  </a>

  <a href="#" id="addContentButton" class="btn btn-default" ng-click="playlistItemFactory.addContent()">
    <svg-icon p="riseWidgetMore"></svg-icon>
    <span translate="editor-app.playlistItem.add-more"></span>
  </a>
</div>

<div class="editor-playlist scrollable-list">
  <div class="editor-playlist-item u_clickable placeholderFromSideBar" 
    ng-repeat="placeholder in factory.getPlaceholders() track by $index"
    tooltip="{{'editor-app.workspace.sidebar.placeholderTooltip' | translate}}" 
    tooltip-placement="bottom" 
    tooltip-append-to-body="true"
    tooltip-trigger="show"
    tooltip-class="cta-tooltip {{tooltipClasses}}"
    pop-on-event-enabled="editorFactory.presentation.placeholders.length > 0 && $index === 0"
    rv-popover>
    <div class="pull-right">
      <button class="btn btn-xs btn-default" id="duplicateButton" ng-click="factory.duplicatePlaceholder(placeholder)"><i class="fa fa-copy"></i></button>
      <button class="btn btn-xs btn-default" id="removeButton" ng-click="remove(placeholder)"><i class="fa fa-trash-o"></i></button>
    </div>
    <div id="manageLink" ng-click="manage(placeholder)">
      <p class="u_remove-bottom placeholder-item-name">{{placeholder.id}}</p>
    </div>
  </div><!--editor-playlist-item-->
  <div ng-hide="factory.getPlaceholders().length">
    <div class="panel-body">
      <p class="text-muted text-center u_remove-bottom" translate>editor-app.workspace.sidebar.no-placeholder</p>
    </div>
  </div>
</div>