<div id="slidesSettingsModal" ng-controller="SlidesSettingsController" ng-cloak>
	<div class="modal-header">
		<button id="dismissButton" type="button" class="close" ng-click="closeSettings()">
			<i class="fa fa-times"></i>
		</button>
		<h3 class="modal-title">Google Slides Settings</h3>
	</div>
	<div class="modal-body">
        <form>
            <div class="form-group">
                <label class="control-label">Enter the Published Link to Your Google Slides</label>
                <input type="text" placeholder="http://" id="publishedLinkUrl" class="form-control" ng-model="settings.additionalParams.url">
            </div><!--form-group link-->

            <!-- TODO: implement on Sprint 2
            <div class="alert alert-danger">
                <div class="bg-danger add-padding">
                    <a id="check-again" class="btn btn-default pull-right">
                        Check Again
                    </a>
                    <span>To use your Google Slides you must copy the published link. To obtain this, open your Google Slides and select  <strong><em>File > Publish to the Web</em></strong>, then select <strong><em>Publish</em></strong>.</span>
                </div>
            </div>
            -->

            <!-- TODO: implement on Sprint 3
            <div class="form-group">
            <label class="control-label">Show Each Slide for</label>
            <div class="row">
                <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" value="10">
                    <div class="input-group-addon">sec</div>
                </div>
                </div>
                </div>
            </div>--><!--form-group show slide for-->

            <!-- TODO: implement on Sprint 3
            <div class="form-group">
            <label class="control-label">Refresh Interval</label>
            <div class="row">
                <div class="col-sm-2">
                <select class="form-control">
                    <option label="Never" selected="selected">Never</option>
                    <option label="1 min">1 min</option>
                    <option label="5 min">5 min</option>
                    <option label="30 min">30 min</option>
                    <option label="60 min">60 min</option>
                </select>
                </div>
            </div>
            </div>--><!--form-group refresh-->

            <div class="alert alert-info">
                <div class="alert-body ng-binding">
                    Your Google Slides will only show on a Display with Rise Player Professional.
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <widget-button-toolbar save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid">
        </widget-button-toolbar>
    </div>
</div>